.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    width: 597px; /* Adjust the width as needed */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 auto; /* Prevent cards from growing or shrinking */
    box-sizing: border-box; 
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card h2 {
    margin-top: 10px;
  }
  
  .card p {
    margin-top: 5px;
  }
  